<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solutions.medadhere.medadheresolutionsapp">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/app_icon"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".ReminderService" />

        <receiver android:name=".MyAlarmReceiver"></receiver>
        <receiver
            android:name=".StartMyServiceAtBootReceiver"
            android:enabled="true"
            android:process=":remote"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StudyContactsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".LifestyleSurvey"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".MedicationAdherenceSurvey"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".AppSatisfactionSurveyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".LifestyleFeedbackActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".BPCalendarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".BloodPressureActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BloodPressureLogActivity"
            android:label="@string/app_name"
            android:theme="@style/log" />
        <activity
            android:name=".BloodPressureLogReadActivity"
            android:label="@string/app_name"
            android:theme="@style/log" />
        <activity
            android:name=".MedicationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MedicationLogActivity"
            android:label="@string/app_name"
            android:theme="@style/log">
        </activity>
        <activity
            android:name=".MedicationLogReadActivity"
            android:label="@string/app_name"
            android:theme="@style/log" />
        <activity
            android:name=".MedicationInformationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SurveySelectionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".healthLiteracyExampleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HealthLitParagraphActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HealthSurvey"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".WeightCalendarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeightLogActivity"
            android:label="@string/app_name"
            android:theme="@style/log" />
        <activity
            android:name=".WeightLogReadActivity"
            android:label="@string/app_name"
            android:theme="@style/log" />

        <activity android:name=".firstTimeLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".nfcTag"
            android:label="@string/app_name"
            android:theme="@style/log">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
